# QA Environment - Azure QA Static Web App
VITE_API_BASE_URL=https://surveycore-api-qa.azurewebsites.net
VITE_AZURE_CLIENT_ID=4012c112-0db8-4411-85e5-907edceb644e
VITE_AZURE_TENANT_ID=0a964db6-c0c3-43a8-af0d-bccc2d2bd487
